{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>About {{name}}</h1>
        <div class="row" style="font-size: 16px;">
            <div>
                <p>
                    {{name}} is a resource of variant level frequency data from cancer germline sequencing studies.
                </p>
                <p>
                    {{name}} Currently contains 1,006 Familial early onset CRC patients from the National Study of Colorectal Cancer Genetics (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2360468/?report=classic">NSCCG</a>). 
                </p>

        </div>

    </div>

{% endblock %}
