{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Downloads</h1>
        <p>
         Indivudual level data on the 1,006 NSCCG CRC cases have been deposited at the European Genome-phenome Archive, which is hosted by the European Bioinformatics Institute, accession number: EGAS00001001666   
        </p>
        <p>
        The source code for CanVar can be found on <a href="https://github.com/danchubb/CanVar">github</a>
        </p>
    </div>
{% endblock %}
